body {
    font-family: "Futura", sans-serif;
    background-color: #1f2833;
    color: #c5c6c7;
  }
h2 {
  font-size: 2.5em;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
#voice, #speed {
  font-size: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  background-color: #66fcf1;
  color: #1f2833;
}
.button-container {
  text-align: center;
}
#start-button, #stop-button {
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  background-color: #66fcf1;
  color: #1f2833;
  cursor: pointer;
}
#stop-button {
  background-color: #ff7979;
}